/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
}

.btn {
  position: relative;
  padding: 17px 36px;
  background: none;
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px greenyellow;
  color: greenyellow;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.btn i {
  font-size: 20px;
  position: absolute;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn i.arr-left {
  left: -25%;
}

.btn i.arr-right {
  right: 16px;
}

.btn .txt {
  position: relative;
  transform: translateX(-12px);
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: greenyellow;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.btn:hover .circle {
  opacity: 1;
  width: 220px;
  height: 220px;
}

.btn:hover .arr-right {
  right: -25%;
}

.btn:hover .txt {
  transform: translateX(12px);
}

.btn:hover .arr-left {
  left: 16px;
}

.btn:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}
